.marine-container {
    /* padding: 20px 0; */
    padding-right: 60px;
}

.marine-card {
    border-radius: 18px !important;
    border: 1px solid #e0e0e0 !important;
    padding: 20px 28px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    max-width: 420px;
    margin-left: 89px;
    border-radius: 18px;
    padding: 5px 20px;
}


.marine-title {
    font-weight: 00;
}

.step-badge {
    background: #e4f3ff;
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.marine-form-fields {
    margin-top: 20px;
}

.marine-input {
    height: 48px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #cfd1d3;
    padding-left: 14px;
}

.error-text {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

.proceed-btn {
    background: #e95320 !important;
    border: none !important;
    height: 48px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
}

.retrieve-link {
    display: block;
    margin-top: 12px;
    color: #e95320;
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
}

.tnc-section {
    margin-top: 20px;
}

.tnc-line {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}

.whatsapp-icon {
    height: 18px;
}